# Configuration data is parsed as follows:
#  1. command line options
#  2. user-specific file
#  3. system-wide file
# Any configuration value is only changed the first time it is set.
# Thus, host-specific definitions should be at the beginning of the
# configuration file, and defaults at the end.

# Global options can lead first, or they can follow after a "Host *" line,
# subject to above weird precedence rules.

# Indentation is aesthetic only.  


{% for host in groups['sshd'] %}
Host {{ host }}
  HostName                      {{ host }}.neuronpointer.net
  Port                          {{ hostvars[host]['ssh_unique_port'] | default(22) }}

Host testvm-{{ host }}
  HostName                      127.0.0.1
  Port                          {{ hostvars[host]['ssh_unique_port'] }}

{% endfor %}

Host *
  SendEnv                       LANG LC_*
  GSSAPIAuthentication          yes
  GSSAPIDelegateCredentials     yes
  HashKnownHosts                no
  CheckHostIP                   no

  ControlMaster                 auto
  {# This should match control_path in ansible.cfg for ansible master hosts. #}
  # Avoid referring to home directory.  Some system users don't have write access.
  #
  # While it would seem nice to spell out connection details in the file name,
  # there is a 108 character limit on the expanded file path, $tmp_dir is long
  # for some hosts, and it seems like a hash gets appended to the specified
  # file name.  Keep the file name specification short.
  ControlPath                   {{ tmp_dir|default('/tmp') }}/%u.%C
  ControlPersist                600
